.hide {
  display: none;
}

.show {
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation-bar {
  background-color: rgb(255, 229, 189);
}

.navigation-bar button {
  color: #000000;
  padding: 5px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  background-color: #ffffff;
}

.navigation-bar button:hover {
  background: #327ba8;
}

.navigation-bar button.selected {
  background-color: #61dafb;
}

.Classroom {
  margin: 8px;
}

.StudentListView {
  margin: 8px;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  color: #000000;
  background-color: rgb(199, 194, 194);
}

.Stats {
  margin: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}