.hide {
  display: none;
}

.show {
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-name {
  padding-left: 64px;
}

.point-display {
  padding-right: 50px;
  padding-top: 20px;
}

.navigation-bar {
  background-color: rgb(255, 229, 189);
  justify-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation-bar button {
  color: #000000;
  padding: 15px;
  margin: 10px;
  font-size: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  outline: none;
  height: 80%;
  transition: 0.5s;
}

.navigation-bar button:hover {
  background: #327ba8;
  cursor: pointer;
}

.navigation-bar button.selected {
  background-color: #61dafb;
}

.Home {
  margin: 16px;
}

.Classroom {
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 1%;
  padding-left: 15%;
  padding-right: 15%;
}

.StudentListView {
  margin: 8px;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  color: #000000;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

.StudentListView1 {
  margin: 8px;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  color: #000000;
  background-color: rgb(218,165,32);
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(15deg, rgb(218, 165, 32), rgb(234, 207, 140), rgb(218, 165, 32));
}

.StudentListView2 {
  margin: 8px;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  color: #000000;
  background-color: #C0C0C0;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(15deg, #C0C0C0, #dddddd, #C0C0C0);
}

.StudentListView3 {
  margin: 8px;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  color: #000000;
  background-color: #b08d57;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(15deg, #b08d57, #ffcb80, #b08d57);
}

.Stats {
  margin: 8px;
}

.Shop {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 15%;
  padding: 3% 12%;
}

.ShopItem_Round {
  height: 128px;
  font-size: 24px;
  margin: 10px;
  border-radius: 50%;
  top: 50%;
  right: 1%;
  left: 1%;
  display: inline-block;
}

.ShopItem_Rect {
  width: 100%;
  font-size: 24px;
  margin: 10px;
  border-radius: 5px;
  top: 50%;
  right: 1%;
  left: 1%;
  display: inline-block;
}

.ShopItem_Rect:hover {
  cursor: pointer;
}

.ShopItem_Round:hover {
  cursor: pointer;
}

.ShopItem button:hover {
  background: var(--blue-medium);
}

.ShopItemHolder {
  display: flex;
  width: 192px;
  justify-content: center;
}

.Profile {
  display: flex;
  padding: 5%;
  margin: 5% 15% 0 15%;
  background: whitesmoke;
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.25);
  border-radius: 25px;
}

.profile-picture {
  width: 256px;
  height: 256px;
  border: black solid 2px;
  border-radius: 50%;
  transition: 0.25s;
}

.name-color {
  display: flex;
  align-items: center;
}

.color-selector {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 32px;
  border: black solid 2px;
  transition: 0.25s;
}

.user-name {
  display: flex;
}

.student-info h2 {
  display: flex;
}

.student-info {
  margin-left: 15%;
}

.ColorSelector {
  position: absolute;
  border: black solid 2px;
  width: 40vw;
  height: 60vh;
  left: 30vw;
  top: 20vh;
  background: lavenderblush;
  z-index: 100;
  border-radius: 15px;
}

.darken {
  top: 0;
  left: 0;
  position: absolute;
  background: black;
  width: 100vw;
  height: 100vh;
  opacity: 25%;
  z-index: 99;
}

.color-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.color-option {
  width: 8vw;
  height: 8vw;
  margin: 0.85vw;
  border: black solid 2px;
  border-radius: 50%;
  transition: 0.5s;
}

.color-option:hover {
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
  cursor: pointer;
}

.profile-picture:hover {
  box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
  cursor: pointer;
}

.color-selector:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  cursor:pointer;
}

.Home {
  padding-left: 15%;
  padding-right: 15%;
}