.hide {
  display: none;
}

.show {
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation-bar {
  background-color: rgb(255, 229, 189);
  align-content: center;
}

.navigation-bar button {
  color: #000000;
  padding: 5px;
  margin: 8px;
  font-size: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  outline: none;
}

.navigation-bar button:hover {
  background: #327ba8;
  cursor: pointer;
}

.navigation-bar button.selected {
  background-color: #61dafb;
}

.Home {
  margin: 16px;
}

.Classroom {
  margin-left: 16px;
  margin-right: 16px;
}

.StudentListView {
  margin: 8px;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  color: #000000;
  background-color: rgb(199, 194, 194);
}

.Stats {
  margin: 8px;
}

.Shop {
  margin: 2px;
  align-items: center;
}

.ShopItem_Round {
  font-size: 24px;
  margin: 10px;
  border-radius: 50%;
  top: 50%;
  right: 1%;
  left: 1%;
  display: inline-block;
}

.ShopItem_Rect {
  font-size: 24px;
  margin: 10px;
  border-radius: 5px;
  top: 50%;
  right: 1%;
  left: 1%;
  display: inline-block;
}

.ShopItem button:hover {
  background: var(--blue-medium);
}

.ShopItemHolder {
  display: inline-block;
}

.Profile {
  display: flex;
}

.profile-picture {
  width: 256px;
  height: 256px;
  border: black solid 2px;
  border-radius: 50%;
  margin-left: 128px;
  margin-top: 64px;
}

.name-color {
  display: flex;
  align-items: center;
}

.color-selector {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 32px;
  border: black solid 2px;
}

.user-name {
  display: flex;
}

.student-info h2 {
  display: flex;
}

.student-info {
  margin-top: 64px;
  margin-left: 64px;
}

.ColorSelector {
  position: absolute;
  border: black solid 2px;
  width: 40vw;
  height: 60vh;
  left: 30vw;
  top: 20vh;
  background: lavenderblush;
  z-index: 100;
  border-radius: 15px;
}

.darken {
  top: 0;
  left: 0;
  position: absolute;
  background: black;
  width: 100vw;
  height: 100vh;
  opacity: 25%;
  z-index: 99;
}

.color-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.color-option {
  width: 8vw;
  height: 8vw;
  margin: 0.85vw;
  border: black solid 2px;
  border-radius: 50%;
}

.color-option:hover {
  cursor: pointer;
}

.profile-picture:hover {
  cursor: pointer;
}

.color-selector:hover {
  cursor:pointer;
}